@import url(./reset-default-styles.css);
@import url(./footer.css);
@import url(./nav-top.css);
@import url(./nav-editor.css);

@import url(./tabs.css);

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

html {
  font-family: "Courier Prime", monospace;
}

html,
body {
  padding: 0;
  background-color: #282a36;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  left: 0;
}

.nav-btn {
  padding: 5px 10px;
}

main {
  height: 85vh;
}

.console-nav {
  background-color: #212529;
  color: white;
  padding: 5px;
}

.right {
  float: right;
}

.editor-content {
  height: 100%;
}

#editorView {
  height: 70%;
}

#console-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  background-color: #282a36;
  color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#console {
  color: #4af626;
}

#console {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  border: 2px;
  padding: 5px;
  font-size: 15px;
}

[action] {
  cursor: pointer;
}

.inner {
  vertical-align: middle;
}

.btn {
  border-radius: 5px;
  border: solid 1px #499e57;
  padding: 2px 10px;
  background-color: #4ad870;
  color: white;
  cursor: pointer;
  font: "Courier Prime";
}

.btn:hover {
  background-color: #04aa6d;
}

.editor-content {
  display: none;
}
