.tabs-list {
  width: fit-content;
  margin: 0;
  padding: 0;
  background-color: #282a36;
  font-size: 0;
}

.tabs-list li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

li.active-tab {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.btn-close-tab {
  padding: 5px;
  border-radius: 5px;
}

.btn-close-tab:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
